
    <h2>Hello from EJS</h2>
    <h4>Daftar barang</h4>
    <table>
        <tr>
            <th>No</th>
            <th>Kode</th>
            <th>Nama</th>
        </tr>
    
    <% data.forEach((row, no) =>{%>
        <tr>
            <td><%= no+1%></td>
            <td><%= row.id%></td>
            <td><%= row.nama %></td>
        </tr>

    <% }) %>
</table>
